@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" />
    <title>@ViewData["Title"] - Presupuestario</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">
    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/estilo_gastos.css" rel="stylesheet" />
    <link href="~/css/datepicker.css" rel="stylesheet" />


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light active-navbar">
        <a class="logo" href="#">Presupuestario</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @{
                    var user = await UserManager.GetUserAsync(User);
                }
                <li class="nav-item active">
                    <a asp-area="" asp-controller="Gasto" asp-action="Dashboard" class="nav-link">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                @if (await UserManager.IsInRoleAsync(user, "Normal"))
                {
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Gasto" asp-action="Index" class="nav-link">Gastos</a>
                    </li>
                }
                <li class="nav-item dropdown">

                    @if (await UserManager.IsInRoleAsync(user, "Admin"))
                    {
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mantenimiento
                        </a>
                    }
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a asp-area="" asp-controller="Mantenimiento" asp-action="CreatePago" class="dropdown-item">Pagos</a>
                        <div class="dropdown-divider"></div>
                        <a asp-area="" asp-controller="Mantenimiento" asp-action="CreateConsumo" class="dropdown-item">Consumos</a>
                    </div>
                </li>
                <a class="btn p-0 ml-2" id="btn-search">
                    <span class="icon ion-ios-search" style="font-size:24px;"></span>
                </a>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </nav>



    <partial name="_CookieConsentPartial" />

    <div class="">
        @RenderBody()
        <hr />
        <footer class="container">
            <p>&copy; 2020 - Presupuestario</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.j"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script> //https://code.jquery.com/jquery-3.5.1.min.js
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
        let Consumos = null;
        let Pagos = null;
        $("#Pago-dash").change(function () {
            let value = $("#Pago-dash").val()
            $('#a-pago').attr('href', "/Gasto/Details?filter=pago&pago=" + value);
            $.getJSON("/Gasto/TPago", { id: value },
                function (data) {
                    $("#label-pago").html("$" + data.total)
                }
            );
        });
        $("#Consumo-dash").change(function () {
            let value = $("#Consumo-dash").val()
            $('#a-consumo').attr('href', "/Gasto/Details?filter=consumo&consumo=" + value);
            $.getJSON("/Gasto/TConsumo", { id: value },
                function (data) {
                    $("#label-consumo").html("$" + data.total)
                }
            );
        })
        $("#btn-download").click(function () {
            window.print();
        })
        $("#btn-search").click(function () {
            let values = Swal.fire({
                title: 'Buscador',
                html:
                    '<label class="class="control-label"">Desde</label><input class="form-control" type="date" id="s-desde" />'+
                    '<label class="class="control-label"">Hasta</label><input class="form-control" type="date" id="s-hasta" />'+
                    '<label class="class=" control-label"">Tipo Consumo</label><select class="form-control" id="t-consumo"> '+
                    getConsumos() +
                    '</select>' +
                    '<label class="class=" control-label"">Forma de Pago</label><select class="form-control" id="f-pago">' +
                    getPagos()+
                    '</select>',
                focusConfirm: false,
                preConfirm: () => {
                    if (document.getElementById('s-desde').value != "" && document.getElementById('s-hasta').value != ""
                        && document.getElementById('t-consumo').value != "" && document.getElementById('f-pago').value != "") {
                        let desde = document.getElementById('s-desde').value;
                        let hasta = document.getElementById('s-hasta').value;
                        let consumo = document.getElementById('t-consumo').value;
                        let pago = document.getElementById('f-pago').value;
                        let url = "/Gasto/Details?Desde=" + desde + "&Hasta=" + hasta + "&IdConsumo=" + consumo + "&IdPago=" + pago;
                        window.location.href = url;
                    } else {
                        alerta();
                    }
                }
            })
        })
        function getConsumos() {
            let data = "";
            console.log("consumos", Consumos)
            for (var i = 0; i < Consumos.length; i++) {
                data += "<option value='" + Consumos[i].idConsumo + "'>" + Consumos[i].descripcion + "</option>";
            }
            return data;
        }
        function getPagos() {
            let data = "";
            console.log("consumos", Pagos)
            for (var i = 0; i < Pagos.length; i++) {
                data += "<option value='" + Pagos[i].idPago + "'>" + Pagos[i].descripcion + "</option>";
            }
            return data;
        }
        function alerta() {
            Swal.fire({
                title: 'Buscador',
                html:
                    '<label class="class="control-label"">Desde</label><input class="form-control" type="date" id="s-desde" />' +
                    '<label class="class="control-label"">Hasta</label><input class="form-control" type="date" id="s-hasta" />' +
                    '<label class="class=" control-label"">Tipo Consumo</label><select class="form-control" id="t-consumo">' +
                    getConsumos() +
                    '</select>' +
                    '<label class="class=" control-label"">Forma de Pago</label><select class="form-control" id="f-pago">' +
                    getPagos()+
                    '</select>',
                focusConfirm: false,
                preConfirm: () => {
                    if (document.getElementById('s-desde').value != "" && document.getElementById('s-hasta').value != ""
                        && document.getElementById('t-consumo').value != "" && document.getElementById('f-pago').value != "") {
                        let desde = document.getElementById('s-desde').value;
                        let hasta = document.getElementById('s-hasta').value;
                        let consumo = document.getElementById('t-consumo').value;
                        let pago = document.getElementById('f-pago').value;
                        let url = "/Gasto/Details?Desde=" + desde + "&Hasta=" + hasta + "&IdConsumo=" + consumo + "&IdPago=" + pago;
                        window.location.href = url;
                    } else {
                        alerta();
                    }
                }
            })
        }

        $(document).ready(function () {
            if (window.location.pathname === '/Gasto/Details') {
                $("#btn-search").hide();
            }
            if (window.location.pathname != '/Gasto/Details') {
                $.getJSON("/Gasto/AllPagos",
                    function (data) {
                        Pagos = data.pagos;
                    }
                );
                $.getJSON("/Gasto/AllConsumos",
                    function (data) {
                        Consumos = data.consumos;
                    }
                );
            }
            if (window.location.pathname === '/Gasto/Dashboard') {
                var result = {};
                $.getJSON("/Gasto/TGraph",
                    function (data) {
                        result = data;
                        //console.log(result)
                    }
                )
                    .done(function () {
                        console.log("second success");
                        renderChart(result);
                    })
                    .fail(function () {
                        console.log("error");
                    })
                    .always(function () {
                        console.log("complete");
                    });
            }

            function renderChart(result) {
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: result.meses,//['Ene 2020', 'Feb 2020', 'Mar 2020', 'Abr 2020'],
                        datasets: [{
                            label: 'Consumos mensuales',
                            data: result.montos,//[50, 100, 150, 200],
                            backgroundColor: [
                                '#76d6c9',
                                '#46bdb9',
                                '#27ab9c',
                                '#0e6c73'
                            ],
                            maxBarThickness: 30,
                            maxBarLength: 2
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
        })

    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
