/*Inicio de Dashboard*/

:root {container body-content
    --primary: #111B54;
    --light: #ffffff;
    --grey: #efefef;
}

body {
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: var(--primary);
}

a:hover {
    text-decoration: none;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-light {
    background-color: var(--light) !important;
}

.bg-grey {
    background-color: var(--grey) !important;
}

.bg-mix {
    background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0);
}

.btn-primary {
    background-color: var(--primary);
    border: 0;
}

    .btn-primary:hover {
        background-color: var(--primary);
    }

#sidebar-container {
    min-height: 100vh;
}

    #sidebar-container .logo {
        padding: 0.875rem 1.25rem;
    }

    #sidebar-container .menu {
        width: 18rem;
    }

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.avatar {
    max-width: 35px;
}

.btn-search {
    right: 0;
}

.stat {
    border-right: 1px solid var(--grey);
}


@media (max-width: 768px) {
    #sidebar-container {
        display: none;
    }

    .stat {
        border: 0;
    }
}

/*Fin de Dashboard*/



/*Estilo para Login y Register en _LoginPartial*/
.space_navbar{
    margin: 10px !important;
}
/* Fin Estilo para Login y Register en _LoginPartial*/



/*Inicio logo Presupuesto*/
.logo {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.35rem;
    line-height: inherit;
    font-weight: normal;
    white-space: nowrap;
    font-style: oblique;
    color: #00c79f;
    text-shadow: 0 1px 1px #fff;
    font-family: "Brushstroke", cursive;
}
/*Fin logo Presupuesto*/


.input-money-text {
    display: flex;
    align-items: center;
    padding: 0px 29px 0px 39px;
    margin-bottom: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}



nav.active-navbar li a:active {
    color: #02a181 !important;
}


/*Para el upload de tipos de consumo*/
.custom-mar{
    margin-left: 15px;
}